.card1 {
    margin-top: 2%;
    /* margin-left: 3%; */
    margin-right: 5%;
    margin-bottom: 5%;
    font-family: 'Fugaz One', cursive;    
}

.card2{
    margin-left: 8%;
}

.menu {
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'Fugaz One', cursive;    
    margin-top: 2%;     
}

.card-text::-webkit-scrollbar {
    display: none;
}
.card {
    /* background-color: #BCCEF8; */
    background: linear-gradient(#f76103, #afc5f8);
    width: 18rem;
    height: 32rem;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.green{
    color: green;
}
.grey{
    color: gray;
    font-weight: bold;
}
.search1 {
    width: 90%;
    margin-left: 5%;
}
.h31{
    margin-top: 10%;
}
.gmb12 {
    height: 160px;
}
@media screen and (max-width: 600px) {
    .card1 {
        display: block;
        width: 1%;
        margin-top: 2%;
        margin-left: 60px;
        justify-items: center;
    }

  }
