.cek  {
    display: block;
    text-align: left;
    margin-left: 20px;
}
.sukses {
    margin-bottom: 5%;
    margin-top: 1%;
}
.cart2 {
    background: linear-gradient( rgb(247, 211, 145),rgb(183, 183, 252));
    height: 100vh;
}
@media screen and (max-width: 600px) {
    .tambah {
        margin-left: -900px;
        font-size: 10px;
    }
    .menu {
        font-size: 10px
    }
    .responsive-3 {
        width: 100%;
    }
    .responsive-3 thead th.column-primary {
        width: 100%;
    }
 
    .responsive-3 thead th:not(.column-primary) {
        display:none;
    }
     
    .responsive-3 td {
        display: block;
        width: auto;
        text-align: justify;
        border-right: 1px solid #e1edff;
    }
    .responsive-3 thead th::before {
        text-transform: uppercase;
        font-weight: bold;
        content: attr(data-header);
    }
    .responsive-3 thead th:first-child span {
        display: none;
    }
    .responsive-3 td::before {
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        content: attr(data-header);
    }
    .strong {
        /* margin-left: 20px; */
        display: block;
        /* margin-right: 100px; */
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .cek  {
        display: block;
        text-align: center;
    }
    .sukses {
        margin-bottom: 10%;
    }
}
