.carausel {
    margin-left: 5%;
    margin-right: 5%;
    height: 2%;
}
.das {
    background-image: url("https://images.freeimages.com/images/large-previews/a3b/website-rays-background-pattern-1637863.png");
    background-size: contain;
    /* background: linear-gradient(#EEEEEE,#277BC0); */
}
.gmb {
    height: 550px;
}
/* media screen */
@media screen and (max-width: 600px) {
    .board {
        height: 200px;
        width: 100%;
    }
    .gmb {
        height: 200px;
    }
    
}