.footer1 {
    display: flex;
    justify-content: center;
    gap: 25%;
    font-family: 'Fugaz One', cursive;
}
.icon {
    display: flex;
    justify-content: center;
    gap: 15%;
    width: 120%;
}
.ft {
    background: linear-gradient( #f8f8f8, #8D9EFF);
    padding: 5%;
    
}
.ground {
    background-color: #FFB562;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
    
}
.icon2 {
    display: flex ;
    gap: 10%;
}
@media screen and (max-width: 600px)  {
    .footer1 {
        width: 90%;
        font-size: 10px;
    }
    .icon {
        font-size: 10px;
        display: flex;
        gap: 20px;
        height: 5px;
        width: 20px;
    }
    .icon2 {

    }
    h3 {
        font-size: 15px;
    }
    .contact {
        margin-left: 30px;
    }
    .copy {
        font-size: 13px;
    }
    li {
        font-size: 10px;
    }
}
