
.hm {
    background: linear-gradient(#FF731D, #fcfcfc);
    box-shadow: 10px 5px 5px grey;
    width: 300px;
    margin-top: 3%;
    margin-bottom: 5%;
    border-radius: 20px;
    margin-left: 38%;
    font-size: 30px;
}
.card12 {
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 5%;
}
.back {
    background: linear-gradient(#2C74B3);
}
@media screen and (max-width: 600px) {
    .card12 {
        display: block;
        width: 10px;
        margin-top: 5%;
        margin-left: 60px;
        justify-items: center;
        margin-bottom: 5%;
    }
    .hm {
        margin-top: 3%;
        margin-bottom: 5%;
        background: linear-gradient(#FF731D, #fcfcfc);
        width: 200px;
        margin-left: 100px;
        border-radius: 20px;
        box-shadow: 10px 5px 5px grey;
        font-size: 25px;
    }
}
