.list {
  display: flex;
  justify-content: center;
  gap: 5%;
  text-align: left;
  margin-top: 3%;
  font-family: "Fugaz One", cursive;
}

li :hover {
  color: rgb(9, 144, 255);
}

a:hover {
  color: rgb(9, 144, 255);
}
a {
  color: black;
}
.h3 {
  background-color: #ef9a53;
  padding: 8px;
  width: 110%;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 20px;
}
.h9 {
  margin-top: 5%;
  background-color: #ef9a53;
  width: 360px;
  margin-left: 37%;
  padding: 7px;
  border-radius: 10px;
}

@media screen and (max-width: 600px) {
  .h9 {
    padding: 1px;
    font-size: 13px;
    margin-left: 10px;
  }
  .h3 {
    font-size: 10px;
    padding: 3px;
    padding-left: 13px;
    padding-right: 3px;
  }
  li {
    font-size: 12px;
  }
}
