.login {
    font-family: 'Fugaz One', cursive;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    margin-top: 90px;
    width: 500px;
    margin-bottom: 100px;
    
}

.login2 {
    /* background-image: url("https://img.freepik.com/free-photo/pastel-background-sky-feminine-style_53876-104862.jpg?w=2000"); */
    background: linear-gradient(rgb(183, 183, 252), rgb(247, 211, 145));
    height: 100vh;
    padding-top: 20px;
}
.login3 {
    /* background-image: url("https://img.freepik.com/free-photo/pastel-background-sky-feminine-style_53876-104862.jpg?w=2000"); */
    background: linear-gradient(rgb(183, 183, 252), rgb(247, 211, 145));
    height: 100vh;
    padding-top: 20px;
}

.admin {
    font-size: 25px;
    margin-top: 20px;
    background: linear-gradient();
    /* background: linear-gradient(#f76103, #f3d6d6); */
    padding: 2%;
    border-radius: 20px;
}


@media screen and (max-width: 600px) {
    .login {
        width: 300px;
        margin-bottom: 50px;
        margin-top: 130px;
    }
    .admin {
        font-size: 15px;
    }
}