.navbarr {
    text-decoration: none;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    background: linear-gradient(#ffc293, #a9c5fc);
    padding-left: 1px;
    display: flex;
}

.gambar {
    width: 14%;
}
Nav{
    margin-right: 19%;
}
.warung {
    font-weight: bold;
    font-size: 30px;
}
.hover {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    .gambar {
        display: none;
    }
    .warung {
        font-size: 18px;
    }
    .home {
        display: flex;
        font-size: 10px;
    }
    .hover {
        font-size: 13px;
    }
    .profile12{
        margin-bottom: 8px;
        margin-left: 8px;
    }
}