.select{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.gambar1 {
    width: 40%;
    height: 30%;
    margin-top: -90px;
    border-radius: 50%;
    border: 3px solid orange;
}
.css1 {
    display: flex;
    background: linear-gradient(rgb(183, 183, 252), rgb(247, 211, 145));
}
.profile2 {
    margin-top: 50px;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}
.saya1 {
    color: orangered;
}
.kelola {
    width: 600px;
    text-align: left;
    margin-left: 20px;
}
.tulisan1 {
    text-align: left;
    margin-top: 200px;
    margin-left: 20px;
}
.css {
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    align-items: center;
    margin-top: 30px;
    width: 30%;
    margin-left: 200px;
    padding-bottom: 2%;
    margin-bottom: 20px;
    border-radius: 10px;
    background: linear-gradient( white,rgb(250, 201, 137),rgb(197, 197, 245));
}
.pmd {
    width: 405px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
}
.bg1 {
    background-color: black;
}
.nama1 {
    font-weight: bold;
    margin-top: 10px;
}
.nama2 {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}
.username1{
    display: flex;
    margin-top: 20px;
}
.username2{
    display: flex;
    margin-top: 2px;
}
.content2 {
    display: block;
}
.profile{
    margin-top: 30px;
    background-color: chocolate;
    color: white;
    width: 50%;
    padding: 10px;
    margin-left: 25%;
    border-radius: 20px;
    margin-bottom: 30px;
}
.inputan1 {
    width: 400px;
    margin-top: 10px;
    margin-left: 90px;
}

.radio {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.simpan {
    border: none;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background-color: orange;
    font-weight: bold;
}
.noHp {
    display: block;
    text-align: center;
    /* border: 1px solid chocolate; */
    line-height: 10px;
    padding: 10px;
    border-radius: 20px; 
    width: 80%;
    padding-bottom: 3px;
    margin-top: 10px;
    /* margin-left: 20px; */
    background-color: rgb(241, 228, 218);
}

.password1 {
    overflow-x:auto;
    width: 80%;
}
.password1::-webkit-scrollbar{
    display: none;
}
.number1::-webkit-outer-spin-button, .number1::-webkit-inner-spin-button {
    appearance: none;
}
@media screen and (max-width: 600px) {
    .css {
        display: block;
        width: 80%;
        margin-left: 40px;
        background-image: none;
    }
    .inputan1 {
        width: 350px;
        margin-right: 15px;
    }
    .gambar1{
        width: 50%;
        margin-top: 10px;
        height: 170px;
    }
    .select {
        /* margin-left: 29px; */
        /* width: ; */
    }
    .radio {
        margin-left: 20px;
    }
    .kelola {
        width: 370px;
        margin-left: -5px;
        text-align: center;
    }
    .css1 {
        display: block;
    }
    .tulisan1{
        margin-top: -53px;
        text-align: center;
    }
    .pmd {
        width: 311px;
    }
    .css1 {
        background: linear-gradient(rgb(183, 183, 252), rgb(247, 211, 145));
        height: 100%;
    }
}