.register1 {
    font-family: 'Fugaz One', cursive;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    margin-top: 50px;
    width: 500px;
    margin-bottom: 50px; 
}
.register3 {
    /* background-image: url("https://img.freepik.com/free-photo/pastel-background-sky-feminine-style_53876-104862.jpg?w=2000"); */
    background: linear-gradient(rgb(183, 183, 252), rgb(247, 211, 145));
    height: 980px;
    padding-top: 20px;
}

.Users12 {
    font-size: 25px;
    margin-top: 20px;
    background: linear-gradient();
    /* background: linear-gradient(#f76103, #f3d6d6); */
    padding: 2%;
    border-radius: 20px;
}


@media screen and (max-width: 600px) {
    .register1 {
        width: 300px;
        margin-bottom: 50px;
        margin-top: 130px;
    }
    .Users12 {
        font-size: 15px;
    }
}