.tabel {
    margin-top: 5%;
    width: 95%;
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Fugaz One', cursive;
}

@media screen and (max-width: 600px) {
    .tambah {
        margin-left: -900px;
        font-size: 10px;
    }
    .menu {
        font-size: 10px
    }
    .responsive-3 {
        width: 100%;
    }
    .responsive-3 thead th.column-primary {
        width: 100%;
    }
 
    .responsive-3 thead th:not(.column-primary) {
        display:none;
    }
     
    .responsive-3 td {
        display: block;
        width: auto;
        text-align: justify;
        border-right: 1px solid #e1edff;
    }
    .responsive-3 thead th::before {
        text-transform: uppercase;
        font-weight: bold;
        content: attr(data-header);
    }
    .responsive-3 thead th:first-child span {
        display: none;
    }
    .responsive-3 td::before {
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        content: attr(data-header);
    }
}